[DATABASE_ACCESS]
db_host = 127.0.0.1
db_name = practice_db
db_user = postgres
db_password = postgres

[DATA_SPECS]
pending_table_name = pending_requests
finished_table_name = finished_requests
#Which fields should be editable in the 'pending' table after initial submission?
mutable_pending_fields = request_cause,rejected
request_causes = direct_request,account_deleted,email_opt_out,inactive,other

[API_SPECS]
api_host = 127.0.0.1